html, body {
    height: 100%;
    background-image: url("imagenes/3428449.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.rectangulo {
    position: relative;
    width: 25%;
    height: 90%;
    left: 70%;
    top: 5%;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
.textoRectangulo {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 30%;
    height: auto;
    left: 82.5%;
    top: 75%;
    transform: translate(-50%, -50%);
}
.texto1 {
    width: 100%;
    height: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 120%;
    line-height: 100%;
    text-align: center;
    color: #343A40;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.texto2 {
    width: 100%;
    height: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 100%;
    line-height: 100%;
    text-align: center;
    color: #495057;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.imagen1 {
    position: absolute;
    max-width: 25%;
    height: auto;
    left: 70%;
    top: 25%;
    opacity: 70%;
}
.mensaje-codificado {
    position: absolute;
    width: 21%;
    height: 65%;
    left: 72%;
    top: 10%;
    background: none;
    outline: none;
    border: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
    color: #495057;
    resize: none;
}
.boton3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 90%;
    line-height: 90%;
    text-align: center;
    color: #fffefe;
    box-sizing: border-box;
    padding: 10px;
    position: absolute;
    width: 21%;
    height: 10%;
    left: 72%;
    top: 80%;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 24px;
    cursor: pointer;
}
.input {
    position: absolute;
    width: 50%;
    height: 60%;
    left: 10%;
    top: 10%;
    border: none;
    outline: none;
    background-color: transparent;
    font-family: 'Inter';
    font-style:normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: #6e6e6e;
    resize: none;
}
.indicaciones {
    display: flex;
    flex-direction: row;
    align-items: normal;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 220px;
    height: 18px;
    left: 10%;
    top: 82%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #ca4848;
}
.botones {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 50%;
    height: 10%;
    left: 10%;
    top: 86%;
}
.boton1 {
    box-sizing: border-box;
    padding: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 90%;
    line-height: 50%;
    text-align: center;
    color: #fefefe;
    cursor: pointer;
    width: 50%;
    height: 100%;
    background-color: rgba(39, 51, 71, 0.5);
    border: 1px solid black;
    border-radius: 24px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.boton2 {
    box-sizing: border-box;
    padding: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 90%;
    line-height: 50%;
    text-align: center;
    color: #fefefe;
    cursor: pointer;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid black;
    border-radius: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.boton1:hover,.boton2:hover,.boton3:hover {
    transform: scale(1.05);
}